.main-title{
    width: 100%;
    h1{
        color: #ebeced;
        width: fit-content;
        margin: auto;
        font-size: 100px;
        text-transform: capitalize;
        letter-spacing: 2px;
    }
    p{
        color: #797979;
        width: fit-content;
        margin: -30px auto;
        font-size: 20px;
        letter-spacing: 1px;
    }
}