.contact {
    background-color: var(--section-background);
    padding: var(--section-padding);
  .container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    .info {
        text-align: center;
      h2 {
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 1px;
        color: var(--main-color-alt);
        margin-bottom: 10px;
      }
      h3 {
        color: var(--main-color);
        font-weight: 800;
        font-size: 25px;
        margin-bottom: 10px;
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        svg {
            color: var(--main-color-alt);
            transition: 0.5s;
            &:hover{
                color: var(--main-color);
            }
        }
      }
    }
  }
}
